
/* Reset cơ bản và định dạng chung */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-title {
  background: #333;
  padding: 40px 0;
  text-align: center;
  border-bottom: 2px solid var(--primary-gold);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}

.banner-title h1 {
  font-size: 2.5rem;
  color: var(--primary-gold);
}


/* Content Styling (Main Sections) */
main {
    padding: 40px 0;
}

.anime-section {
    background: #333;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #2a2a2a;
    border: 1px solid #ffcc00;
}

.anime-section h2 {
    color: #fff;
    margin-bottom: 20px;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 10px;
}

.section-content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

#logo-MD{
    height: 143px;
    width: auto;
}
#logo-GX{
    height: 189px;
    width: auto;
}
#logo-5D{
    height: 189px;
    width: auto;
}
#logo-Zexal{
    height: 189px;
    width: auto;
}
#logo-ArcV{
    height: 227px;
    width: auto;
}
#logo-Vrains{
    height: 227px;
    width: auto;
}

.character-img {
    /* Sẽ thay đổi khi có ảnh*/
    background-color: #2a2a2a;
    box-shadow: 0 2px 4px #2a2a2a;
    /*----------------------*/
    width: 234px;
    height: auto;
    border-radius: 8px;
    
    flex-shrink: 0; /* Ngăn ảnh bị co lại */
}

.text-content h3 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}

.text-content p {
    margin-bottom: 15px;
}

.text-content ul {
    list-style-type: disc;
    margin-left: 20px;
}

.coming-soon {
    opacity: 0.7;
    text-align: center;
    font-style: italic;
    background-color: #333;
}



