* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1,
h2 {
    color: #fff;
}



/* Phần Nội dung */
.content-section {
    display: flex;
    margin-bottom: 40px;
    background: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px #2a2a2a;
}

.content-image {
    flex: 1;
    /* Cột 1: Tỷ lệ 1 */
    padding-right: 20px;
    display: block;
}

.content-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.content-image .all-types{
    box-shadow: none;
}

.content-text {
    flex: 3;
    /* Cột 2: Tỷ lệ 3 */
}

.content-text ul {
    padding-left: 20px;
}

.training {
    list-style-type: decimal;
}

