/* CSS Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-title {
    background: #333;
    padding: 40px 0;
    text-align: center;
    border-bottom: 2px solid var(--primary-gold);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}

.banner-title h1 {
    font-size: 2.5rem;
    color: #fff;
}

header nav ul li {
    border-bottom: none;
}

.section-title {
    color: #333;
    background-color: #ffea97;
    padding: 10px;
    margin-bottom: 15px;
    border-left: 5px solid #ffcc00;
    /* Gold accent */
}

.intro-section h2 {
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.intro-section,
.guide-section {
    flex: 1;
    background-color: #333;
    padding: 20px;
    border: 1px solid #ffcc00;
    border-radius: 5px;
    color: #fff;
}

.guide-section {
    background-color: #333;
    border: 1px solid #ffcc00;
}

.guide-section h2 {
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 10px;
}

ul {
    list-style: none;
}

ul li {
    padding: 10px 0;
    border-bottom: 1px solid #f4f4f4;
}

ul li:last-child {
    border-bottom: none;
}

/*Đây là phần nội dung các button */
.card-types {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card-type {
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: relative;
    width: 200px;
    transition: transform 0.2s, box-shadow 0.2s;
}


.card-type:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}

.card-type.monster {
    background-color: rgb(230, 190, 40);
    box-shadow: 0 4px 0 rgb(185, 150, 30);
}

.card-type.spell {
    background-color: rgb(0, 168, 168);
    box-shadow: 0 4px 0 rgb(0, 130, 130);
}

.card-type.trap {
    background-color: rgb(204, 0, 153);
    box-shadow: 0 4px 0 rgb(155, 0, 120);
}

.card-type:active {
    transform: translateY(2px);
    box-shadow: none;
}

/* Hộp popup */
.card-type-popup {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    width: 300px;
    padding: 15px;
    background: #1a1a1a;
    border: 1px solid var(--primary-gold);
    border-radius: 8px;
    color: #fff;
    font-weight: normal;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 10;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.card-type:hover .card-type-popup {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.pre-guide {
    list-style-type: disc;
}

.turn li {
    border-bottom: none;
}